 {% extends 'login/base.html' %} {% block content %}
<div class="login-box">
    <div class="login-logo">
        <img src="/static/lib/adminlte-3.0.4/img/logo.png" width="240px">
    </div>
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Cambiar Contraseña</p>
            <form action=".." method="post">
                <input type="hidden" name="next" value="{{ next }}"> {% csrf_token %}
                <div class="input-group mb-3">
                    {{ form.password }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    {{ form.confirmPassword }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">

                    <div class="row">
                        <div class="col-mb-12">
                            <button type="submit" class="btn btn-success btn-block btn-flat">Cambiar Contraseña <i class="fas fa-envelope"></i></button>
                        </div>
                    </div>
            </form>
            </div>
        </div>
        <script type="application/javascript">
            $(function() {
                $('form').on('submit', function(e) {
                    e.preventDefault();
                    var parameters = new FormData(this);
                    submit_with_ajax(window.location.pathname, 'Notificación', '¿Estas seguro de cambiar su contraseña?', parameters, function() {
                        Swal.fire({
                            title: 'Notificación',
                            text: 'Contraseña cambiada exitosamente',
                            icon: 'success',
                            timer: 5000,
                            onClose: () => {
                                location.href = '{{ login_url }}';
                            }
                        }).then((result) => {

                        });
                    });
                });
            });
        </script>
    </div>
    {% endblock %}